<object id="{{ include.id_prefix }}-pitching-chart" data="{{ 'assets/img/pitching_chart.svg' | relative_url }}" type="image/svg+xml"></object>
<script>
    {%- assign objName = include.id_prefix | append: 'PitchingChartObj' -%}
    const {{ objName }} = document.getElementById('{{ include.id_prefix }}-pitching-chart');
    {{ objName }}.setAttribute('pitches', JSON.stringify({{ include.pitches | jsonify }}));
    {%- assign lefty = '' -%}
    {%- if include.handedness == 'L' -%}
        {%- assign lefty = 'true' -%}
    {%- else -%}
        {%- assign lefty = 'false' -%}
    {%- endif -%}
    {{ objName }}.setAttribute('lefty', "{{ lefty }}");

    {{ objName }}.addEventListener('load', (ev) => {
        updatePitchChart.apply(
            ev.target.contentDocument,
            [
                JSON.parse(ev.target.getAttribute('pitches')),
                ev.target.getAttribute('lefty')
            ]
        );
    });
</script>