{% comment %}
{ player }
{% endcomment %}

{% assign fullName = include.player["Name"] %}
{% assign nameAbbr = include.player["Name Abbreviation"] %}
{% assign playerPositions = include.player["Field Position"] %}

{% assign trj = include.player["Trajectory"] %}
{% assign hit = include.player["Contact"] %}
{% assign pwr = include.player["Power"] %}
{% assign runspd = include.player["Run Speed"] %}
{% assign armstr = include.player["Arm Strength"] %}
{% assign fielding = include.player["Fielding"] %}

<div id="batting-detail" class="hidden-detail-page">
    {% include player-name-box.html fullName=fullName nameAbbr=nameAbbr positions=playerPositions %}
    
    <span class="star-point-count" style="grid-area: starpoints;">{{ include.player["Star Point"] }}</span>

    <span class="jersey-number" title="{{ site.data.strings.hover_text.jersey_number }}" style="grid-area: jerseynumber; background-size: 100%; background-image: url({{ 'assets/img/jersey_background.svg' | relative_url }});">{{ include.player["Jersey Number"] | default: "" }}</span>

    <span class="info-box handedness" style="grid-area: handedness;">Throws {{ include.player["Throws"] }}, Bats {{ include.player["Bats"] }}</span>

    <span class="info-box detail-hit" style="grid-area: hit;"><span class="info-label" title="{{ site.data.strings.hover_text.stats.HIT }}">HIT</span>{% include components/letter-rating.html rating=hit %}</span>

    <span class="info-box detail-pwr" style="grid-area: pwr;"><span class="info-label" title="{{ site.data.strings.hover_text.stats.PWR }}">PWR</span>{% include components/letter-rating.html rating=pwr %}</span>

    <span class="info-box detail-runspd" style="grid-area: runspd;"><span class="info-label" title="{{ site.data.strings.hover_text.stats['RUN SPD'] }}">RUN SPD </span>{% include components/letter-rating.html rating=runspd %}</span>

    <span class="info-box detail-armstr" style="grid-area: armstr;"><span class="info-label" title="{{ site.data.strings.hover_text.stats['ARM STR'] }}">ARM STR</span>{% include components/letter-rating.html rating=armstr %}</span>

    <span class="info-box detail-fld" style="grid-area: fld;"><span class="info-label" title="{{ site.data.strings.hover_text.stats.FLD }}">FLD</span>{% include components/letter-rating.html rating=fielding %}</span>

    <span class="info-box" style="grid-area: trj;"><span class="info-label" title="{{ site.data.strings.hover_text.stats.TRJ }}">TRJ</span><span class="detail-trj-num">{{ include.player["Trajectory"] }}</span> {% include trajectory-arrow.html trj=trj %}</span>

    <span class="info-box" style="grid-area: avg;"><span class="info-label" title="{{ site.data.strings.hover_text.stats.AVG }}">AVG</span><span class="dash-content">–––</span></span>
    <span class="info-box" style="grid-area: hr;"><span class="info-label" title="{{ site.data.strings.hover_text.stats.HR }}">HR</span><span class="dash-content">–––</span></span>
    <span class="info-box" style="grid-area: rbi;"><span class="info-label" title="{{ site.data.strings.hover_text.stats.RBI }}">RBI</span><span class="dash-content">–––</span></span>

    <span class="info-box detail-positions" style="grid-area: positions;">
        <span class="info-label" title="{{ site.data.strings.hover_text.stats.POS }}">POS</span>
        {%- assign abbrPositions = '' | split: '' -%}
        {%- for pos in playerPositions -%}
            {%- if pos == 'SP' or pos == 'MR' or pos == 'CP' -%}
                {%- unless abbrPositions contains 'P' -%}
                    {%- assign abbrPositions = abbrPositions | push: 'P' -%}
                {%- endunless -%}
            {%- else -%}
                {%- assign abbrPositions = abbrPositions | push: pos -%}
            {%- endif -%}
        {%- endfor -%}
        <span id="batting-detail-positions-list">
            {%- for pos in abbrPositions -%}
                {%- if forloop.first -%}
                    <span>{{ pos }}</span>
                {%- else -%}
                    <span> {{ pos }}</span>
                {%- endif -%}
            {%- endfor -%}
        </span>
    </span>
</div>