{%- comment -%}
{ player }
{%- endcomment -%}

{%- assign fullName = include.player.name -%}
{%- assign nameAbbr = include.player.nameAbbr -%}
{%- assign playerPositions = include.player.positions -%}
{%- assign positionRatings = include.player.allFieldingRatings -%}

{%- assign trj = include.player.trajectory -%}
{%- assign hit = include.player.contact -%}
{%- assign pwr = include.player.power -%}
{%- assign runspd = include.player.runSpeed -%}
{%- assign armstr = include.player.armStrength -%}
{%- assign catching = include.player.catching -%}

<div id="fielding-detail" class="current-detail-page">
    {%- include components/player-name-box.html id='fielding-detail' fullName=fullName nameAbbr=nameAbbr positions=playerPositions customAttributes='sort-key="id"' -%}
    
    <span class="star-point-count" style="grid-area: starpoints;" sort-key="starPoints">{{ include.player.starPoints }}</span>

    <span class="jersey-number" title="{{ site.data.strings.hover_text.jersey_number }}" style="grid-area: jerseynumber;">{{ include.player.jerseyNum | default: "" }}</span>

    <span class="info-box handedness" style="grid-area: handedness;">Throws {{ include.player.throwingHandedness }}, Bats {{ include.player.battingHandedness }}</span>

    <span class="info-box" style="grid-area: trj; gap: 4px;"><span class="info-label" title="{{ site.data.strings.hover_text.stats.TRJ }}" sort-key="trajectory">TRJ</span><span class="detail-trj-num">{{ include.player.trajectory }}</span> {%- include components/trajectory-arrow.html trj=trj -%}</span>

    <span class="info-box detail-hit" style="grid-area: hit;"><span class="info-label" title="{{ site.data.strings.hover_text.stats.HIT }}" sort-key="contact">HIT</span>{%- include components/letter-rating.html rating=hit -%}</span>

    <span class="info-box detail-pwr" style="grid-area: pwr;"><span class="info-label" title="{{ site.data.strings.hover_text.stats.PWR }}" sort-key="power">PWR</span>{%- include components/letter-rating.html rating=pwr -%}</span>

    <span class="info-box detail-runspd" style="grid-area: runspd;"><span class="info-label" title="{{ site.data.strings.hover_text.stats['RUN SPD'] }}" sort-key="runSpeed">RUN SPD </span>{%- include components/letter-rating.html rating=runspd -%}</span>

    <span class="info-box detail-armstr" style="grid-area: armstr;"><span class="info-label" title="{{ site.data.strings.hover_text.stats['ARM STR'] }}" sort-key="armStrength">ARM STR</span>{%- include components/letter-rating.html rating=armstr -%}</span>

    <span class="info-box detail-catching" style="grid-area: catching;"><span class="info-label" title="{{ site.data.strings.hover_text.stats.Catching }}" sort-key="catching">Catching</span>{%- include components/letter-rating.html rating=catching -%}</span>

    <div id="fielding-detail-positions-box" class="info-box" style="display: grid; grid-area: fieldingbox;">
        <!-- TODO? -->
        {%- assign primary_position = include.player.positions | first -%}
        {%- if primary_position == 'SP' or primary_position == 'MR' or primary_position == 'CP' -%}
            {%- assign primary_position = 'P' -%}
        {%- endif -%}

        <span class="info-label" style="grid-area: label; width: 100%;" title="{{ site.data.strings.hover_text.stats.Fielding }}">Fielding</span> <span class="positions-label" title="{{ site.data.strings.hover_text.positions[primary_position] }}">{{ primary_position }}</span>

        <span id="position-ratings-container">
            {%- include graphics/position-ratings-chart.html positionRatings=positionRatings -%}
        </span>
    </div>
</div>