{% comment %}
{ player }
{% endcomment %}

{% assign fullName = include.player["Name"] %}
{% assign nameAbbr = include.player["Name Abbreviation"] %}
{% assign playerPositions = include.player["Field Position"] %}
{% assign positionRatings = include.player["All Fielding Ratings"] %}

{% assign trj = include.player["Trajectory"] %}
{% assign hit = include.player["Contact"] %}
{% assign pwr = include.player["Power"] %}
{% assign runspd = include.player["Run Speed"] %}
{% assign armstr = include.player["Arm Strength"] %}
{% assign catching = include.player["Error Resistance"] %}

<div id="fielding-detail" class="current-detail-page">
    {% include components/player-name-box.html fullName=fullName nameAbbr=nameAbbr positions=playerPositions %}
    
    <span class="star-point-count" style="grid-area: starpoints;">{{ include.player["Star Point"] }}</span>

    <span class="jersey-number" title="{{ site.data.strings.hover_text.jersey_number }}" style="grid-area: jerseynumber; background-size: 100%; background-image: url({{ 'assets/img/jersey_background.svg' | relative_url }});">{{ include.player["Jersey Number"] | default: "" }}</span>

    <span class="info-box handedness" style="grid-area: handedness;">Throws {{ include.player["Throws"] }}, Bats {{ include.player["Bats"] }}</span>

    <span class="info-box" style="grid-area: trj;"><span class="info-label" title="{{ site.data.strings.hover_text.stats.TRJ }}">TRJ</span><span class="detail-trj-num">{{ include.player["Trajectory"] }}</span> {% include components/trajectory-arrow.html trj=trj %}</span>

    <span class="info-box detail-hit" style="grid-area: hit;"><span class="info-label" title="{{ site.data.strings.hover_text.stats.HIT }}">HIT</span>{% include components/letter-rating.html rating=hit %}</span>

    <span class="info-box detail-pwr" style="grid-area: pwr;"><span class="info-label" title="{{ site.data.strings.hover_text.stats.PWR }}">PWR</span>{% include components/letter-rating.html rating=pwr %}</span>

    <span class="info-box detail-runspd" style="grid-area: runspd;"><span class="info-label" title="{{ site.data.strings.hover_text.stats['RUN SPD'] }}">RUN SPD </span>{% include components/letter-rating.html rating=runspd %}</span>

    <span class="info-box detail-armstr" style="grid-area: armstr;"><span class="info-label" title="{{ site.data.strings.hover_text.stats['ARM STR'] }}">ARM STR</span>{% include components/letter-rating.html rating=armstr %}</span>

    <span class="info-box detail-catching" style="grid-area: catching;"><span class="info-label" title="{{ site.data.strings.hover_text.stats.Catching }}">Catching</span>{% include components/letter-rating.html rating=catching %}</span>

    <div id="fielding-detail-positions-box" class="info-box" style="display: grid; grid-area: fieldingbox;">
        {% assign primary_position = include.player["Field Position"] | first %}
        {% if primary_position == 'SP' or primary_position == 'MR' or primary_position == 'CP' %}
            {% assign primary_position = 'P' %}
        {% endif %}

        <span class="info-label" style="grid-area: label; width: 100%;" title="{{ site.data.strings.hover_text.stats.Fielding }}">Fielding</span> <span class="positions-label">{{ primary_position }}</span>

        <span id="position-ratings-container">
            {% include position-ratings-chart.html positionRatings=positionRatings %}
        </span>
    </div>
</div>