{% comment %}
{ player }
{% endcomment %}

{% assign fullName = include.player["Name"] %}
{% assign nameAbbr = include.player["Name Abbreviation"] %}
{% assign playerPositions = include.player["Field Position"] %}
{% assign pitches = include.player["Breaking Balls"] %}

{% assign control = include.player["Control"] %}
{% assign stamina = include.player["Stamina"] %}

<div id="pitching-detail" class="hidden-detail-page">
    {% include components/player-name-box.html fullName=fullName nameAbbr=nameAbbr positions=playerPositions %}
    
    <span class="star-point-count" style="grid-area: starpoints;">{{ include.player["Star Point"] }}</span>

    <span class="info-box detail-topspeed pitch-speed" style="grid-area: topspeed;" title="{{ include.player['Top Speed'] | times: 0.62137 | round }} mph">{{ include.player["Top Speed"] }}</span>

    <span class="info-box detail-pitching-form" style="grid-area: pitchform;">{{ include.player["Pitching Form"] | default: 'Form' }}</span>

    <span id="pitching-detail-roles-box" class="info-box" style="grid-area: roles;">
        <span class="info-label" title="{{ site.data.strings.hover_text.stats.APT }}">APT</span>
        {%- assign primary_position = include.player["Field Position"] | first -%}
        {%- assign roles = 'SP MR CP' | split: ' ' -%}

        {%- if roles contains primary_position -%}
            <span id="pitching-detail-roles-list">
                {%- for role in roles -%}
                    {%- assign class = '' -%}
                    {%- if playerPositions contains role -%}
                        {%- assign class = 'has-pitching-role' -%}
                    {%- else -%}
                        {%- assign class = 'does-not-have-pitching-role' -%}
                    {%- endif -%}

                    <span class="{{ class }}" title="{{ site.data.strings.hover_text.positions[role] }}">{{ role }}</span>
                {%- endfor -%}
            </span>
        {%- else -%}
            <span class="dash-content" title="{{ site.data.strings.hover_text.positions.not_pitcher }}">–––</span>
        {%- endif -%}
        </span>
    </span>

    <span class="info-box detail-control" style="grid-area: control;"><span class="info-label">CONTROL</span>{% include components/letter-rating.html rating=control %}</span>

    <span class="info-box detail-stamina" style="grid-area: stamina;"><span class="info-label">STAMINA</span>{% include components/letter-rating.html rating=stamina %}</span>

    <span id="pitch-selection" style="grid-area: pitches;">
        {% assign handedness = include.player["Throws"] %}
        {% include graphics/pitching-chart.html id_prefix="detail" pitches=pitches handedness=handedness %}
    </span>
</div>