---
title: "WBSC eBASEBALL™: POWER PROS Team Builder"
---
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ 'assets/css/styles.css' | relative_url }}">
</head>

<body>
    <div class="group-box" style="grid-area: teamname;">
        <h1 style="text-align: center;">Team Name</h1>
    </div>

    <div class="group-box" style="grid-area: positions;">
        <h1>Positions</h1>
    </div>

    <div id="detail-box" class="group-box">
        <h1>Detail View</h1>
    </div>

    <div id="team-list" class="group-box" style="grid-area: teamlist;">
        {% assign team_players = '' | split: '' %}
        {% include player-table.html players=team_players table_id="team-table" %}
    </div>

    <div class="group-box" style="grid-area: availableplayers;">
        {% assign all_players = site.data.players.players %}
        {% include player-table.html players=all_players table_id="player-pool-table" %}
    </div>

    <div class="group-box" style="grid-area: pointcount;">
        <h1>Point Count</h1>
    </div>
</body>

</html>