---
title: "WBSC eBASEBALL™: POWER PROS Team Builder"
---
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ 'assets/css/styles.css' | relative_url }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">

    <style>
        body {
            background-image: linear-gradient(
                rgba(14, 26, 71, 0.8),
                rgba(14, 26, 71, 0.8)
            ), url("{{ 'assets/img/checker_background.jpg' | relative_url }}");
            background-size: 10px;
        }

        .star-point-count::before {
            background: url("{{ 'assets/img/star_point_star.png' | relative_url }}");
            background-size: 100%;
        }

        .cost-span::before {
            background: url("{{ 'assets/img/cost_diamond.png' | relative_url }}");
            background-size: 100%;
        }
    </style>

    <script type="text/javascript" src="{{ 'assets/js/all-players.js' | relative_url }}" ></script>
    <script>
        function findPlayer(id) {
            return all_players.find(p => p.id == id);
        }

        function setUpClickListeners() {
            // Gets all playerNameBoxes in the player table (not the team table)
            let playerNameBoxes = document.querySelectorAll('.player-table .player-name-box');
            
            // click => show detail
            // right click => show popup info
            // double-click => add to team
            
            playerNameBoxes.forEach((box) => box.addEventListener('click', (e) => {
                // e.preventDefault();
                const playerId = e.srcElement.id
                    .replace('-name-box', '');
                console.info(playerId);

                const matchingPlayer = findPlayer(playerId);
                console.info(matchingPlayer);
                
                if (matchingPlayer) {
                    playerClicked(matchingPlayer);
                }
            }));
        }
    </script>

    <script type="text/javascript" src="{{ 'assets/js/select-player.js' | relative_url }}" ></script>
    <script type="text/javascript" src="{{ 'assets/js/update-player-name-box.js' | relative_url }}" ></script>
</head>

<body onload="setUpClickListeners()">
    {% assign all_players = site.data.players.players %}

    <div class="group-box" style="grid-area: teamname; display: flex; align-content: center; justify-content: center;">
        <input id="team-name" type="text" placeholder="Team Name" style="text-align: center; font-size: 2em;">
        <!-- <h1 style="text-align: center;">Team Name</h1> -->
    </div>

    <div class="group-box" style="grid-area: positions;">
        <h1>Positions</h1>
    </div>

    <div id="detail-box" class="group-box" style="grid-area: detailview;">
        {% assign first_player = all_players | first %}
        {% include detail-view.html player=first_player %}
    </div>

    <div id="team-list" class="group-box contains-player-table" style="grid-area: teamlist;">
        <!-- 15 pitchers, 18 fielder starters, 37 backups -->
        {% assign empty_slots = site.data.players.empty_slots %}
        {% assign empty_pitcher = empty_slots.pitcher %}
        {% assign empty_fielder = empty_slots.fielder %}
        {% assign empty_backup = empty_slots.backup %}

        {% assign team_players = '' | split: '' %}
        {% for i in (1..15) %}
            {% assign team_players = team_players | push: empty_pitcher %}
        {% endfor %}
        {% for i in (1..18) %}
            {% assign team_players = team_players | push: empty_fielder %}
        {% endfor %}
        {% for i in (1..37) %}
            {% assign team_players = team_players | push: empty_backup %}
        {% endfor %}

        {% include player-table.html players=team_players table_id="team-table" %}
    </div>

    <div class="group-box contains-player-table" style="grid-area: availableplayers;">
        {% include player-table.html players=all_players table_id="player-pool-table" %}
    </div>

    <div class="group-box" style="grid-area: pointcount;">
        <h1>Point Count</h1>
    </div>
</body>
</html>