---
title: "WBSC eBASEBALL™: POWER PROS Team Builder"
---
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ 'assets/css/styles.css' | relative_url }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500&family=Roboto+Condensed:wght@300;400&family=Roboto:wght@300;400;500;900&display=swap" rel="stylesheet">

    <style>
        body {
            background-image: linear-gradient(
                rgba(14, 26, 71, 0.8),
                rgba(14, 26, 71, 0.8)
            ), url("{{ 'assets/img/checker_background.jpg' | relative_url }}");
            background-size: 10px;
        }

        .star-point-count::before {
            background: url("{{ 'assets/img/star_point_star.png' | relative_url }}");
            background-size: 100%;
        }

        .point-total-count::before {
            background: url("{{ 'assets/img/cost_diamond.png' | relative_url }}");
            background-size: 100%;
        }

        .cost-span::before {
            background: url("{{ 'assets/img/cost_diamond.png' | relative_url }}");
            background-size: 100%;
        }
    </style>

    <script type="text/javascript" src="{{ 'assets/js/all-players.js' | relative_url }}" ></script>
    <script type="text/javascript" src="{{ 'assets/js/all-pitches.js' | relative_url }}" ></script>
    <script>
        function findPlayer(id) {
            return all_players.find(p => p.id == id);
        }

        function setUpClickListeners() {
            // Gets all playerNameBoxes in both tables
            let playerNameBoxes = document.querySelectorAll('.player-table .player-name-box');
            
            // click => show detail
            playerNameBoxes.forEach((box) => box.addEventListener('click', (e) => {
                const playerId = e.target.id
                    .replace('-name-box', '');

                const matchingPlayer = findPlayer(playerId);
                if (matchingPlayer) {
                    playerClicked(matchingPlayer);
                }
            }));

            // right click => add to/remove from team
            playerNameBoxes.forEach((box) => box.addEventListener('contextmenu', (e) => {
                e.preventDefault();
                const playerId = e.target.id
                    .replace('-name-box', '');

                const matchingPlayer = findPlayer(playerId);

                if (matchingPlayer) {
                    rightClicked(matchingPlayer);
                }
            }));

            // double-click => show popup info (dblclick)
        }
    </script>

    <script type="text/javascript" src="{{ 'assets/js/select-player.js' | relative_url }}" ></script>
    <script type="text/javascript" src="{{ 'assets/js/update-player-name-box.js' | relative_url }}" ></script>
    <script type="text/javascript" src="{{ 'assets/js/team-management.js' | relative_url }}" ></script>
    <script type="text/javascript" src="{{ 'assets/js/update-player-counts.js' | relative_url }}" ></script>
    <script type="text/javascript" src="{{ 'assets/js/team-utility-functions.js' | relative_url }}" ></script>
    <script type="text/javascript" src="{{ 'assets/js/detail-view-switching.js' | relative_url }}" ></script>
    <script type="text/javascript" src="{{ 'assets/js/update-pitch-chart.js' | relative_url }}" ></script>
    <script type="text/javascript" src="{{ 'assets/js/filter-player-pool.js' | relative_url }}" ></script>
</head>

<body onload="setUpClickListeners()">
    {% include letter-rating-defs.html %}

    {% assign all_players = site.data.players.players %}

    <div id="team-name-box" class="group-box" style="grid-area: teamname;">
        <input id="team-name" type="text" placeholder="Team Name">
    </div>

    <div id="position-filter-box" class="group-box" style="grid-area: positions;">
        {% include position-filter.html %}
    </div>

    <div id="detail-switcher" class="group-box" style="grid-area: switcher;">
        {% include controls/detail-switcher.html %}
    </div>

    <div id="detail-box" class="group-box" style="grid-area: detailview;">
        {% assign first_player = all_players | first %}
        {% include views/detail-view.html player=first_player %}
    </div>

    <div id="team-list" class="group-box contains-player-table" style="grid-area: teamlist;">
        <!-- 15 pitchers, 18 fielder starters, 37 backups -->
        {% assign empty_slots = site.data.players.empty_slots %}
        {% assign empty_pitcher = empty_slots.pitchers %}
        {% assign empty_fielder = empty_slots.fielders %}
        {% assign empty_backup = empty_slots.backups %}

        {% assign team_players = '' | split: '' %}
        {% for i in (1..15) %}
            {% assign team_players = team_players | push: empty_pitcher %}
        {% endfor %}
        {% for i in (1..18) %}
            {% assign team_players = team_players | push: empty_fielder %}
        {% endfor %}
        {% for i in (1..37) %}
            {% assign team_players = team_players | push: empty_backup %}
        {% endfor %}

        {% include player-table.html players=team_players table_id="team-table" %}
    </div>

    <div class="group-box contains-player-table" style="grid-area: availableplayers;">
        {% include player-table.html players=all_players table_id="player-pool-table" %}
    </div>

    <div id="instructions-container" class="group-box" style="grid-area: instructions;">
        {% include instructions.html %}
    </div>

    <div class="group-box" style="grid-area: pointcount; padding: 0px;">
        {% include team-counts.html %}
    </div>
</body>
</html>