{% comment %}
{ player }
{% endcomment %}

{% assign playerName = include.player["Name Abbreviation"] %}
{% assign playerPositions = include.player["Field Position"] %}

{% assign hit = include.player["Contact"] %}
{% assign pwr = include.player["Power"] %}
{% assign runspd = include.player["Run Speed"] %}
{% assign armstr = include.player["Arm Strength"] %}
{% assign fielding = include.player["Fielding"] %}

<div id="detail-info-grid">
    {% include player-name-box.html name=playerName positions=playerPositions %}
    
    <span class="star-point-count" style="grid-area: starpoints;">{{ include.player["Star Point"] }}</span>

    <span class="jersey-number" style="grid-area: jerseynumber;">{{ include.player["Jersey Number"] | default: "100" }}</span>

    <span class="info-box" style="grid-area: handedness; font-family: 'Roboto Condensed', sans-serif;">Throws {{ include.player["Throws"] }}, Bats {{ include.player["Bats"] }}</span>

    <span class="info-box" style="grid-area: trj;"><span class="info-label">TRJ</span><span style="font-weight: 500;">{{ include.player["Trajectory"] }}</span> <img style="height: 12px;" src="https://www.mlbppworld.com/wiki/images/TRJ{{ include.player['Trajectory'] }}.png"></span>

    <span class="info-box" style="grid-area: hit;"><span class="info-label">HIT</span>{% include letter-rating.html rating=hit %}</span>

    <span class="info-box" style="grid-area: pwr;"><span class="info-label">PWR</span>{% include letter-rating.html rating=pwr %}</span>

    <span class="info-box" style="grid-area: runspd;"><span class="info-label">RUN SPD </span>{% include letter-rating.html rating=runspd %}</span>

    <span class="info-box" style="grid-area: armstr;"><span class="info-label">ARM STR</span>{% include letter-rating.html rating=armstr %}</span>

    <span class="info-box" style="grid-area: catching;"><span class="info-label">Catching</span>{% include letter-rating.html rating=fielding %}</span>

    <div class="info-box" id="detail-fielding-box" style="grid-area: fieldingbox;">
        <span class="info-label">Fielding</span> {{ include.player["Field Position"] | first }}</span>

        {% comment %}
        TODO: need to get fielding level at each of their positions
        {% endcomment %}
        <span>{% include letter-rating.html rating=fielding %}</span>
    </div>
</div>