<svg height="0">
    <defs>
    {%- assign ratings = 'S A B C D E F G' | split: ' ' -%}
    {%- for r in ratings -%}
        <linearGradient id="rating-gradient-{{ r }}" x1="0" x2="0" y1="0" y2="100%" gradientUnits="objectBoundingBox">
            <stop stop-color="{{ site.data.colors.ratings[r].start }}" offset="0%"/>
            <stop stop-color="{{ site.data.colors.ratings[r].end }}" offset="100%"/>
        </linearGradient>
    {%- endfor -%}
    </defs>

    <filter id="rating-shadow" x="-50%" y="-50%" width="200%" height="200%">
        <feDropShadow dx="1" dy="1" stdDeviation="2" flood-opacity="0.5" flood-color="black" />
    </filter>
</svg>