<svg height="0">
    <defs>
        <!-- Position Square Clip Path -->
        <clipPath id="position-square-clip">
            <rect x="0" y="0" height="100%" width="100%" rx="4"></rect>
        </clipPath>

        <!-- Letter Rating Gradients -->
    {%- assign ratings = 'S A B C D E F G' | split: ' ' -%}
    {%- for r in ratings -%}
        <linearGradient id="rating-gradient-{{ r }}" x1="0" x2="0" y1="0" y2="100%" gradientUnits="objectBoundingBox">
            <stop stop-color="{{ site.data.colors.ratings[r].start }}" offset="0%"/>
            <stop stop-color="{{ site.data.colors.ratings[r].end }}" offset="100%"/>
        </linearGradient>
    {%- endfor -%}

        <!-- Trajectory Gradients -->
        <linearGradient id="trj-gradient-1" x1="100%" x2="0" y1="0" y2="0" gradientUnits="objectBoundingBox">
            <stop stop-color="{{ site.data.colors.ratings.D.start }}" offset="0%"/>
            <stop stop-color="{{ site.data.colors.ratings.D.end }}" offset="100%"/>
        </linearGradient>
        <linearGradient id="trj-gradient-2" x1="100%" x2="0" y1="0" y2="0" gradientUnits="objectBoundingBox">
            <stop stop-color="{{ site.data.colors.ratings.C.start }}" offset="0%"/>
            <stop stop-color="{{ site.data.colors.ratings.C.end }}" offset="100%"/>
        </linearGradient>
        <linearGradient id="trj-gradient-3" x1="100%" x2="0" y1="0" y2="0" gradientUnits="objectBoundingBox">
            <stop stop-color="{{ site.data.colors.ratings.B.start }}" offset="0%"/>
            <stop stop-color="{{ site.data.colors.ratings.B.end }}" offset="100%"/>
        </linearGradient>
        <linearGradient id="trj-gradient-4" x1="100%" x2="0" y1="0" y2="0" gradientUnits="objectBoundingBox">
            <stop stop-color="{{ site.data.colors.ratings.A.start }}" offset="0%"/>
            <stop stop-color="{{ site.data.colors.ratings.A.end }}" offset="100%"/>
        </linearGradient>
    </defs>

    <!-- Shadow for letter ratings and trajectories -->
    <filter id="rating-shadow" x="-50%" y="-50%" width="200%" height="200%">
        <feDropShadow dx="1" dy="1" stdDeviation="2" flood-opacity="0.5" flood-color="black" />
    </filter>
</svg>