{% comment %}
{ player }
{% endcomment %}

{% assign playerName = include.player["Name Abbreviation"] %}
{% assign playerPositions = include.player["Field Position"] %}

{% assign control = include.player["Control"] %}
{% assign stamina = include.player["Stamina"] %}

<div id="pitching-detail" class="hidden-detail-page">
    {% include player-name-box.html name=playerName positions=playerPositions %}
    
    <span class="star-point-count" style="grid-area: starpoints;">{{ include.player["Star Point"] }}</span>

    <span class="info-box detail-topspeed" style="grid-area: topspeed;"><span style="font-weight: 400;">{{ include.player["Top Speed"] }}</span> km/h</span>

    <span class="info-box detail-pitching-form" style="grid-area: pitchform;">{{ include.player["Pitching Form"] | default: 'Pitching Form' }}</span>

    <span class="info-box" style="grid-area: roles;">
        <span class="info-label">APT</span>
        <span id="pitching-detail-roles-list">
            {%- assign primary_position = include.player["Field Position"] | first -%}
            {%- assign roles = 'SP MR CP' | split: ' ' -%}

            {%- if roles contains primary_position -%}
                {%- for role in roles -%}
                    {%- assign class = '' -%}
                    {%- if playerPositions contains role -%}
                        {%- assign class = 'has-pitching-role' -%}
                    {%- else -%}
                        {%- assign class = 'does-not-have-pitching-role' -%}
                    {%- endif -%}

                    {%- if forloop.first -%}
                        <span class="{{ class }}">{{ role }}</span>
                    {%- else -%}
                        <span class="{{ class }}"> {{ role }}</span>
                    {%- endif -%}
                {%- endfor -%}
            {%- else -%}
                <span>---</span>
            {%- endif -%}
        </span>
        </span>
    </span>

    <span class="info-box detail-control" style="grid-area: control;"><span class="info-label">CONTROL</span>{% include letter-rating.html rating=control %}</span>

    <span class="info-box detail-stamina" style="grid-area: stamina;"><span class="info-label">STAMINA </span>{% include letter-rating.html rating=stamina %}</span>

    <span id="pitch-selection" style="grid-area: pitches;">
        PITCHES
    </span>
</div>