{% comment %}
{ name, positions, cost }
{% endcomment %}

{% assign playerPositions = include.positions %}
{% assign positionCount = playerPositions | size %}
{% if positionCount == 0 %}
    {% assign positionCount = 1 %}
{% endif %}
{% assign percent = 100 | divided_by:positionCount %}

{% assign colors = '' | split: '' %}
{% for pos in playerPositions %}
    {% assign colorName = site.data.colors.positions[pos] %}
    {% unless colors contains colorName %}
        {% assign colors = colors | push: colorName %}
    {% endunless %}
{% endfor %}

{% assign firstColor = colors | first %}
{% assign gradientStart = "background-image: linear-gradient(to right, " | append: firstColor %}

{% assign gradientMiddle = "" %}
{% for color in colors %}
    {% assign middleTemp = gradientMiddle | append: ", " | append: color | " " | append: percent | append: "%" %}
    {% assign gradientMiddle = middleTemp %}
{% endfor %}

{% assign gradientEnd = "" %}
{% if colors | size > 1 %}
    {% assign gradientEnd = ", " | append: colors | last %}
{% endif %}

{% assign gradient = gradientStart | append: gradientMiddle | append: gradientEnd | append: ");" %}

<span class="player-name-cell" style="{{ gradient }}">{{ include.name }}</span><span>{{ include.cost }}</span>
