{% comment %}
{ name, positions, cost }
{% endcomment %}

{% assign playerPositions = include.positions %}

{% assign colors = '' | split: '' %}
{% for pos in playerPositions %}
    {% assign colorName = site.data.colors.positions[pos] %}
    {% unless colors contains colorName %}
        {% assign colors = colors | push: colorName %}
    {% endunless %}
{% endfor %}

{% assign colorCount = colors | size %}
{% assign percent = 100 | divided_by:colorCount %}

{% assign firstColor = colors | first %}
{% assign gradientStart = "background-image: linear-gradient(to right, " | append: firstColor %}

{% assign gradientMiddle = "" %}
{% for color in colors %}
    {% assign middleTemp = gradientMiddle | append: ", " | append: color | append: " " | append: percent | append: "%" %}
    {% assign gradientMiddle = middleTemp %}
{% endfor %}

{% assign gradientEnd = "" %}
{% if colors | size > 1 %}
    {% assign lastColor = colors | last %}
    {% assign gradientEnd = ", " | append: lastColor %}
{% endif %}

{% assign gradient = gradientStart | append: gradientMiddle | append: gradientEnd | append: ");" %}

<span style="font-size: 18px; box-sizing: border-box;">
    <span class="player-name-cell" style="{{ gradient }}">{{ include.name }}</span><span class="cost-span"><img src="{{ 'assets/img/cost_diamond.png' | relative_url }}" style="height: 12px;"><span> {{ include.cost }}</span></span>
</span>

{% comment %}
<!-- <span style="font-size: 18px; box-sizing: border-box;">
    <span class="player-name-cell" style="background-image: linear-gradient(to right, #f2d247, #f2d247 50%, #f2d247);">Kamitaka</span><span class="cost-span"><img src="../assets/img/cost_diamond.png" style="height: 12px;"><span> 4</span></span>
</span> -->
{% endcomment %}