{% comment %}
{ position, size }
{% endcomment %}
{% assign size = include.size %}
{% if size == 1 or size == nil %}
    {% assign size = 38 %}
{% endif %}

<svg class="position-square" viewBox="0 0 {{ size }} {{ size }}" height="{{ size }}px" width="{{ size }}px">
    <rect x="0" y="0" height="{{ size }}" width="{{ size }}" rx="4" fill="{{ site.data.colors.positions[include.position] }}" clip-path="url(#position-square-clip)"></rect>

    <text x="50%" y="50%" transform="translate(0 3)">{{ include.position }}</text>
</svg>