<svg id="position-ratings-chart" viewBox="0 0 260 260">
    <g id="P-pos-rating">
        <title class="rating-title"></title>
        <text filter="url(#rating-shadow)" x="50.0000%" y="64.19643%" class="letter" rating="A">A</text>
    </g>
    <g id="C-pos-rating">
        <title class="rating-title"></title>
        <text filter="url(#rating-shadow)" x="50.0000%" y="85.54018%" class="letter" rating="A">A</text>
    </g>
    <g id="1B-pos-rating">
        <title class="rating-title"></title>
        <text filter="url(#rating-shadow)" x="72.0536%" y="63.48661%" class="letter" rating="A">A</text>
    </g>
    <g id="2B-pos-rating">
        <title class="rating-title"></title>
        <text filter="url(#rating-shadow)" x="62.7232%" y="46.52232%%" class="letter" rating="A">A</text>
    </g>
    <g id="SS-pos-rating">
        <title class="rating-title"></title>
        <text filter="url(#rating-shadow)" x="37.2768%" y="46.52232%%" class="letter" rating="A">A</text>
    </g>
    <g id="3B-pos-rating">
        <title class="rating-title"></title>
        <text filter="url(#rating-shadow)" x="27.9464%" y="63.48661%" class="letter" rating="A">A</text>
    </g>
    <g id="LF-pos-rating">
        <title class="rating-title"></title>
        <text filter="url(#rating-shadow)" x="24.5536%" y="31.25446%" class="letter" rating="A">A</text>
    </g>
    <g id="CF-pos-rating">
        <title class="rating-title"></title>
        <text filter="url(#rating-shadow)" x="50.0000%" y="24.46875%" class="letter" rating="A">A</text>
    </g>
    <g id="RF-pos-rating">
        <title class="rating-title"></title>
        <text filter="url(#rating-shadow)" x="75.4464%" y="31.25446%" class="letter" rating="A">A</text>
    </g>
</svg>
<script>
    const chart = document.getElementById('position-ratings-chart');
    const positionRatings = {{ include.positionRatings | jsonify }};

    chart.addEventListener('load', (ev) => {
        updatePositionRatingsChart(ev.target, positionRatings);
    }, {
        once: true
    });
</script>
