<span id="counts-top-row">
    <span>Total: <span id="player-count-total">0</span> / 70 player(s)</span>

    <span>
        <span>P: <span id="pitcher-point-count" class="point-total-count">0</span></span>
        <span>| F: <span id="fielder-point-count" class="point-total-count">0</span></span>
        <span>| All: <span id="full-point-count" class="point-total-count">0</span></span>
    </span>
</span>
<span id="counts-bottom-row">
    {% assign positions = "P F C 1B 2B 3B SS OF" | split:" " %}
    {% for pos in positions %}
        <span>{{ pos }}: <span>0</span></span>
    {% endfor %}
</span>