<span id="counts-top-row">
    <span>
        <span style="font-weight: 300;">Total: </span><span id="player-count-total">0</span> / 70 player(s)
    </span>

    <span id="all-point-counts-container">
        <span class="point-count-container">{% include position-square.html position="P" %} <span id="pitcher-point-count" class="point-total-count value-for-position-square">0</span></span>
        <span class="point-count-container">{% include position-square.html position="F" %} <span id="fielder-point-count" class="point-total-count value-for-position-square">0</span></span>
        <span class="point-count-container">{% include position-square.html position="All" %} <span id="full-point-count" class="point-total-count value-for-position-square">0</span></span>
    </span>
</span>
<span id="counts-bottom-row">
    {% assign positions = "P F C 1B 2B 3B SS OF" | split:" " %}
    {% for pos in positions %}
        <span class="position-count-container">{% include position-square.html position=pos %}<span id="{{ pos }}-player-position-count" class="value-for-position-square">0</span></span>
    {% endfor %}
</span>