#batting-detail {
    grid-template-columns: 50% 10% 5% auto;
    grid-template-rows: repeat(8, auto);
    grid-template-areas:
        "namebox    namebox     .           starpoints"
        "namebox    namebox     .           jerseynumber"
        "handedness .           .           jerseynumber"
        "hit        trj         trj         trj"
        "pwr        avg         avg         avg"
        "runspd     hr          hr          hr"
        "armstr     rbi         rbi         rbi"
        "catching   positions   positions   positions";

    gap: 2px 4px;
}

#batting-detail-positions-list {
    font-weight: 400;
}

#batting-detail-positions-list:first-child {
    font-weight: 500;
}
