#batting-detail {
    grid-template-columns: 1fr 10% 0.75fr;
    grid-template-rows: repeat(8, auto);
    grid-template-areas:
        "namebox    namebox     starpoints"
        "namebox    namebox     jerseynumber"
        "handedness .           jerseynumber"
        "hit        trj         trj"
        "pwr        avg         avg"
        "runspd     hr          hr"
        "armstr     rbi         rbi"
        "catching   positions   positions";

    gap: 2px 4px;
}

#batting-detail-positions-list {
    font-weight: 400;
}

#batting-detail-positions-list:first-child {
    font-weight: 500;
}
