#fielding-detail {
    display: grid;

    grid-template-columns: auto 15% auto;
    grid-template-rows: repeat(8, auto);
    grid-template-areas:
        "namebox    namebox     starpoints"
        "namebox    namebox     jerseynumber"
        "handedness .           jerseynumber"
        "trj        fieldingbox fieldingbox"
        "hit        fieldingbox fieldingbox"
        "pwr        fieldingbox fieldingbox"
        "runspd     fieldingbox fieldingbox"
        "armstr     catching    catching";

    gap: 2px 4px;
}

#fielding-detail .player-name-box {
    grid-area: namebox;
}

#fielding-detail .info-box {
    color: rgb(58, 114, 191);
    background-color: #f8fdfd;
    border: #dfedf1 solid 1px;
    padding: 2px;

    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

    display: flex;
    align-items: center;
}

// This is the labels for the info boxes
#fielding-detail .info-box .info-label {
    width: 100%;
}

#detail-fielding-box {
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    grid-template-areas: "label positions" "diamond diamond";

    justify-items: center;
    align-content: space-between;
    row-gap: 10px;

    padding: 4px;
}

#detail-fielding-box .info-label {
    font-family: 'Roboto Condensed', sans-serif;
}

#detail-fielding-box .positions-label {
    font-weight: 400;
}