#fielding-detail {
    grid-template-columns: 50% 10% 5% auto;
    grid-template-rows: repeat(8, auto);
    grid-template-areas:
        "namebox    namebox     .           starpoints"
        "namebox    namebox     .           jerseynumber"
        "handedness .           .           jerseynumber"
        "trj        fieldingbox fieldingbox fieldingbox"
        "hit        fieldingbox fieldingbox fieldingbox"
        "pwr        fieldingbox fieldingbox fieldingbox"
        "runspd     fieldingbox fieldingbox fieldingbox"
        "armstr     catching    catching    catching";

    gap: 2px 4px;
}

#fielding-detail-positions-box {
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    grid-template-areas: "label positions" "diamond diamond";

    justify-items: center;
    align-content: space-between;
    row-gap: 10px;

    padding: 4px;
}

#fielding-detail-positions-box .info-label {
    font-family: 'Roboto Condensed', sans-serif;
}

#fielding-detail-positions-box .positions-label {
    font-weight: 400;
}