#instructions-container {
    max-width: 280px; padding: 0px;
}

#how-to-header {
    padding: 4px;

    color: white;

    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    text-align: center;
}

#how-to-body {
    
}

.how-to-list {
    list-style-type: "> ";
    list-style-position: inside;
    text-indent: 14px hanging;
}
