.jersey-number {
    aspect-ratio: 7 / 4;
    height: 34px;
    display: inline-flex;
    justify-self: center;
    align-self: center;

    justify-content: center;
    align-items: center;

    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
