.letter-rating {
    height: 24px;
}

.letter {
    stroke: white;
    stroke-width: 8px;
    paint-order: stroke fill;

    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 900;

    text-anchor: middle;
    dominant-baseline: middle;
    transform: translate(0px, 4px);
}

.letter.S {
    fill: url(#rating-gradient-S);
}
.letter.A {
    fill: url(#rating-gradient-A);
}
.letter.B {
    fill: url(#rating-gradient-B);
}
.letter.C {
    fill: url(#rating-gradient-C);
}
.letter.D {
    fill: url(#rating-gradient-D);
}
.letter.E {
    fill: url(#rating-gradient-E);
}
.letter.F {
    fill: url(#rating-gradient-F);
}
.letter.G {
    fill: url(#rating-gradient-G);
}
