.letter-rating {
    height: 24px;
}

.letter {
    fill: #e04ed3;
    stroke: white;
    stroke-width: 8px;
    paint-order: stroke fill;

    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 900;

    text-anchor: middle;
    dominant-baseline: middle;
    transform: translate(0px, 4px);
}

.letter.S {
    fill: url(#rating-S);;
}
