* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: green;

    display: grid;
    grid-template-columns: 1fr 1fr 25%;
    grid-template-rows: auto 1fr 1fr auto;
    grid-template-areas:
        "teamname positions detailview"
        "teamlist availableplayers detailview"
        "teamlist availableplayers ."
        "pointcount pointcount .";
    place-content: stretch;
    gap: 2px;

    /* height: 100%; */
}

h1 {
    margin: 0px;
}

.group-box {
    background-color: antiquewhite;
    border-radius: 10px;
    border: 2px solid black;
    padding: 8px;
}

#team-list {
    overflow-y: scroll;
    /* height: 100%; */
}

.player-table {
    // border-collapse: collapse;
    width: 100%;
}

.player-table tr {
    line-height: 32px;
}

// .player-table td {
//     border: 2px solid black;
// }

#detail-box {
    grid-area: detailview;
}

.player-name-cell {
    padding: 4px;
    width: 100%;

    text-align: center;
    font-family: sans-serif;
    color: black;

    border: rgba(0, 0, 0, 0.2) solid 2px;
    border-radius: 6px;
}

.cost-span {
    padding: 4px 4px 4px 1px;

    text-align: right;
    font-family: sans-serif;
    font-weight: bold;
    color: white;

    background-color: #4884c8;

    border: rgba(0, 0, 0, 0.2) solid 2px;
    border-radius: 6px;
}