$group-box-border-color: #1f4eaa;

// General

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

// Body

body {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
        "teamname positions detailview"
        "teamlist availableplayers detailview"
        "teamlist availableplayers ."
        "pointcount pointcount .";
    place-content: stretch;
    gap: 4px;

    // revert overrides the 0 margin on everything, but left/right center the body.
    margin: revert;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
}

.group-box {
    background-color: #ecf7f8;;
    border-radius: 10px;
    border: 4px solid $group-box-border-color;
    padding: 8px;
}

#team-list {
    overflow-y: scroll;
    /* height: 100%; */
}

#detail-box {
    
}

// player-table.html

.player-table {
    // border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

.player-table tr {
    line-height: 32px;
}

// player-name-box.html

.player-name-box {
    padding: 4px;
    width: 100%;

    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    color: black;

    border: rgba(0, 0, 0, 0.3) solid 2px;
    border-radius: 6px;
}

// .player-table td {
//     border: 2px solid black;
// }

// detail-view.html

#detail-info-grid {
    display: grid;

    grid-template-columns: auto 15% auto;
    grid-template-rows: repeat(8, auto);
    grid-template-areas:
        "namebox    namebox     starpoints"
        "namebox    namebox     jerseynumber"
        "handedness .           jerseynumber"
        "trj        fieldingbox fieldingbox"
        "hit        fieldingbox fieldingbox"
        "pwr        fieldingbox fieldingbox"
        "runspd     fieldingbox fieldingbox"
        "armstr     catching    catching";

    gap: 2px 4px;
}

#detail-info-grid .player-name-box {
    grid-area: namebox;
}

#detail-info-grid .info-box {
    background-color: #f8fdfd;
    border: #dfedf1 solid 1px;
    padding: 2px;
}

// Small Reused Components / TODO: refactor these into separate files in `inlcudes`

.cost-span {
    padding: 4px 4px 4px 1px;

    text-align: right;
    font-family: sans-serif;
    font-weight: bold;
    color: white;

    background-color: #4884c8;

    border: rgba(0, 0, 0, 0.2) solid 2px;
    border-radius: 6px;
}

.star-point-count {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;

    color: rgb(247, 209, 79);
    padding: 1px;
    border-radius: 6px;
    border: 1px solid rgb(133, 174, 245);
    background-color: $group-box-border-color;
}

.star-point-count::before {
    height: 12px;
    width: 12px;
    display: inline-block;
    margin-right: 0px;
    background-position: center;
    content: "";
}

.jersey-number {
    // background-image
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
