$group-box-border-color: #1f4eaa;

// General

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

// Body

body {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
        "teamname positions detailview"
        "teamlist availableplayers detailview"
        "teamlist availableplayers ."
        "pointcount pointcount .";
    place-content: stretch;
    gap: 4px;

    // revert overrides the 0 margin on everything, but left/right center the body.
    margin: revert;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
}

.group-box {
    background-color: #ecf7f8;;
    border-radius: 10px;
    border: 4px solid $group-box-border-color;
    padding: 8px;
}

#team-list {

}

#detail-box {
    
}

.contains-player-table {
    max-height: 500px;
    overflow-y: scroll;
}

// to use the variable...

.star-point-count, #counts-top-row {
    background-color: $group-box-border-color;
}

.jersey-number {
    color: $group-box-border-color;
}
