#position-ratings-chart {
    background-image: url(../img/baseball_diamond.svg);
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: center;
    
    width: 134px;
    height: 105px;
}

#position-ratings-chart .letter {
    transform: translate(0px, 2px);
}
