.position-filter-button svg {
    border-radius: 4px;

    transition: transform ease .5s;
}

.position-filter-button.clicked svg {
    transform: translateY(-4px) scale(1.05);
}

.position-filter-button.right-clicked svg {
    
}
