.position-square {
    // display: inline-flex;
    // justify-content: center;
    // align-items: center;

    // aspect-ratio: 1;
    // finalize size...
    // height: 36px; 
    // border-radius: 4px;
    // border: rgba(0, 0, 0, 0.3) solid 2px;

    // padding: 0px 2px 2px 2px;

    font-family: 'Barlow Semi Condensed', sans-serif;
    // finalize size...
    font-size: 30px;
    font-weight: 500;
    color: white;
    // -webkit-text-stroke: 4px rgba(0,0,0,0.3);
    paint-order: stroke fill;
}