.position-filter-button svg {
    border-radius: 4px;

    transition: transform ease .5s, box-shadow ease .5s;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);
}

.position-filter-button.clicked svg {
    transform: translateY(-4px);
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.position-filter-button.right-clicked svg {
    
}
