#counts-top-row {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;

    padding: 4px 8px;

    color: white;
}

#counts-bottom-row {
    display: grid;
    grid-template-columns: repeat(8, auto);
    gap: 8px;
    justify-content: space-around;
    align-items: center;

    padding: 4px 8px;

    color: #4884c8;
}

.point-total-count::before {
    height: 12px;
    width: 12px;
    display: inline-block;
    margin-right: 2px;
    background-position: center;
    content: "";
}

.position-count-container {
    display: inline-flex;
    align-items: center;
}

.player-position-count {
    margin-left: 4px;
    margin-top: 2px;

    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 400;
}
