<button id="sorting-testing" sort-asc="true" sort-key="cost" onclick="sortPlayerPool(event)">Sort By Cost</button>
<script type="text/javascript">
    function sortPlayerPool(event) {
        const sortKey = event.target.getAttribute('sort-key');
        const poolTable = document.getElementById('player-pool-table');
        if (!sortKey || !poolTable) { return; }

        let sortAsc = event.target.getAttribute('sort-asc');
        if (!sortAsc) {
            sortAsc = 'true';
            event.target.setAttribute('sort-asc', 'true');
        }
        
        const sortedArr = all_players.toSorted((a, b) => {
            return ((sortAsc === 'true') ? 1 : -1) * (a[sortKey] - b[sortKey]);
        });

        for (const child of poolTable.children) {
            const id = child.firstElementChild.id.replace('-name-box', '');
            const order = sortedArr.findIndex(p => p.id == id);
            child.style.order = order;
        }

        event.target.setAttribute('sort-asc', !(sortAsc === 'true'));
    }
</script>
