<div id="how-to-header">How To Use the Website!</div>

<div id="how-to-body">
    <ul class="how-to-list">
        <li>Click a player to see their info on the right.</li>
        <li>Double-click a player to see more detailed info.</li>
        <li>Right-click a player to add them to your team.</li>
    </ul>

    <span style="font-family: 'Roboto', sans-serif;font-weight: 500;">Tips:</span>
    <ul class="how-to-list">
        <li>You can hover the mouse over almost <span title="Even this!">anything</span> and it will give you more information.</li>
        <li>Click a position at the top of the page to filter the player pool by their primary position.</li>
        <li>Right-click a position to filter the players by all positions they play.</li>
    </ul>
</div>