<textarea id="json-text-box" style="resize: none; width: 100%; height: 40px; border: 1px solid gray; border-radius: 4px;"></textarea>
<span>
    <button id="json-generate-btn" onclick="generateJson(event)" title="Click to fill the text box with your current team.">Generate</button>
    <button id="json-copy-btn" onclick="copyJson(event)" title="Click to copy the text in the text box to your clipboard.">Copy</button>
    <button id="json-import-btn" onclick="importJson(event)" title="Click to import the team from the data in the text box.">Import</button>
</span>
<script type="text/javascript" src="{{ 'assets/js/json-import.js' | relative_url }}" ></script>
