<div>
    <div id="popover-tabbar">
        {%- assign tabs = site.data.strings.popover_tabs -%}
        {%- for t in tabs -%}
            {%- assign first = '' -%}
            {%- if forloop.first -%}
                {%- assign first = 'selected' -%}
            {%- endif -%}
            <span class="{{ first }}" onclick="updateSelectedPopoverTab(event)" style="background-color: {{ site.data.colors.popover_tabs[t] }};">{{ t }}</span>
        {%- endfor -%}
    </div>

    <div id="popover-body" style="border-color: {{ site.data.colors.popover_tabs['Player Abilities'] }};">
        <!-- Stays in all tabs -->
        <div id="popover-name-section">
            {%- assign positions = "SP MR" | split: ' ' -%}
            {% include components/player-name-box.html id="Test ID" fullName="Test Name" nameAbbr="Test Abbr" positions=positions %}

            <span class="blank-flag">K</span>

            <span class="jersey-number"
                style="grid-area: jerseynumber; background-size: 100%; background-image: url({{ 'assets/img/jersey_background.svg' | relative_url }});">0</span>

            <!-- Is hidden in tabs unrelated to pitching -->
            <span id="popover-pitching-role" class="info-row" style="grid-area: positions;">
                <span class="label">Aptitude</span>
                <span class="content" style="text-align: center; font-size: 22px; font-family: 'Roboto', sans-serif; font-weight: 500; color: #1b44a8;">SP MR CP</span>
            </span>
            <!-- Is hidden in tabs unrelated to fielding -->
            <span id="popover-fielding-positions" class="info-row" style="grid-area: positions;">
                <span class="label">Field Positions</span>
                <span class="content">P</span>
            </span>

            <span class="star-point-count" style="grid-area: starpoints;">0</span>
            <span class="cost-span" style="grid-area: cost;">1</span>
        </div>
    </div>
</div>
