<div>
    <div id="popover-tabbar">
        {%- assign tabs = site.data.strings.popover_tabs -%}
        {%- for t in tabs -%}
            <span onclick="updateSelectedPopoverTab(event.target, false)" style="background-color: {{ site.data.colors.popover_tabs[t] }};">{{ t }}</span>
        {%- endfor -%}
    </div>

    <div id="popover-body" style="border-color: {{ site.data.colors.popover_tabs['Player Abilities'] }};">
        <!-- Stays in all tabs -->
        <div id="popover-name-section">
            {%- assign positions = "SP MR" | split: ' ' -%}
            {% include components/player-name-box.html id="Test ID" fullName="Test Name" nameAbbr="Test Abbr" positions=positions %}

            <span class="blank-flag">K</span>

            <span class="jersey-number" style="grid-area: jerseynumber;">0</span>

            <!-- Is hidden in tabs unrelated to pitching -->
            <span id="popover-pitching-roles" class="info-row" style="grid-area: positions;">
                <span class="label">Aptitude</span>
                {% include components/pitching-roles.html addl_classes='content' all_positions='' %}
            </span>
            <!-- Is hidden in tabs unrelated to fielding -->
            <span id="popover-fielding-positions" class="info-row" style="grid-area: positions;">
                <span class="label">Field Positions</span>
                <span class="content">P</span>
            </span>

            <span class="star-point-count" style="grid-area: starpoints;">0</span>
            <span class="cost-span" style="grid-area: cost;">1</span>
        </div>

        <div id="popover-form-section">
            <div pfp class="info-row" style="grid-area: pic; background: white; padding: 0; justify-content: center; overflow: hidden;">
                <img style="height: 100%;" src="">
            </div>

            <div class="info-row" style="grid-area: form;">
                <span class="label">Form</span>
                <!-- Is hidden in tabs unrelated to pitching -->
                <span id="pitching-form" class="content">Three-Quarters127</span>
                <!-- Is hidden in tabs unrelated to fielding -->
                <span id="batting-form" class="content">General 26</span>
            </div>

            <div handedness class="info-row" style="grid-area: handedness;">
                <span class="label">Dominant Hand</span>
                <span class="content">Throws R, Bats R</span>
            </div>
        </div>

        <!-- Background for button sections of popover -->
        <div style="background-color: #cad9f7; grid-area: 2 / 1 / 2 / 3; margin: -6px; border-radius: 10px;"></div>

        <!-- Is hidden in tabs unrelated to pitching -->
        <div id="popover-pitching-ratings-section" class="ratings-section">
            <span class="info-row" style="grid-area: velo;">
                <span class="label">Pitch Velocity</span>
                <span class="content pitch-speed">150</span>
            </span>

            {%- assign rows = 'control, stamina' | split: ', ' -%}
            {%- for r in rows -%}
            <span {{ r }} class="info-row" style="grid-area: {{ r }};">
                <span class="label">{{ r | capitalize }}</span>
                <span class="content" style="text-align: end;">{% include components/letter-rating.html rating=1 %}</span>
                <span class="content">1</span>
            </span>
            {%- endfor -%}

            <div class="info-row" style="grid-area: pitches; flex-direction: column; gap: 4px;">
                {% include graphics/pitching-chart.html id_prefix="popover" pitches="" handedness="" %}
                <span id="popover-signature-pitch"></span>
            </div>
        </div>

        <!-- Is only shown in fielding tabs (not position assignment) -->
        <div id="popover-batting-ratings-section" class="ratings-section">
            <span trj class="info-row">
                <span class="label">Trajectory</span>
                <span class="content" style="text-align: end; margin-bottom: -10px;">{% include components/trajectory-arrow.html trj=1 %}</span>
                <span class="content">1</span>
            </span>

            {%- assign rows = 'Hit, Power, Run Speed, Arm Strength, Fielding, Catching' | split: ', ' -%}
            {%- for r in rows -%}
            <span {{ r | split: ' ' | last | downcase }} class="info-row">
                <span class="label">{{ r }}</span>
                <span class="content" style="text-align: end;">{% include components/letter-rating.html rating=1 %}</span>
                <span class="content">1</span>
            </span>
            {%- endfor -%}
        </div>

        <!-- Is only shown in position assignment tab -->
        <div id="popover-positions-ratings-section" class="ratings-section">
            {%- assign rows = 'Run Speed, Arm Strength, Catching' | split: ', ' -%}
            {%- for r in rows -%}
            <span {{ r | split: ' ' | last | downcase }} class="info-row" style="grid-area: {{ r | split: ' ' | last | downcase }};">
                <span class="label">{{ r }}</span>
                <span class="content" style="text-align: end;">{% include components/letter-rating.html rating=1 %}</span>
                <span class="content">1</span>
            </span>
            {%- endfor -%}

            <div id="position-ratings-grid" class="info-row" style="grid-area: fielding; display: grid; gap: calc((8px - 2px) / 2);">
                <span class="label" style="width: 100%;">Fielding</span>
                
                <span class="empty-divider"></span>
                
                <span pos="p" class="position-ratings-item">
                    <span class="pos-label">P</span>
                    <span class="content">{% include components/letter-rating.html rating=1 %}</span>
                    <span class="content">1</span>
                </span>

                <span class="empty-divider"></span>
                <span class="empty-divider"></span>
                <span class="h-divider"></span>

                <span pos="c" class="position-ratings-item">
                    <span class="pos-label">C</span>
                    <span class="content">{% include components/letter-rating.html rating=1 %}</span>
                    <span class="content">1</span>
                </span>
                <span class="v-divider"></span>
                <span pos="1b" class="position-ratings-item">
                    <span class="pos-label">1B</span>
                    <span class="content">{% include components/letter-rating.html rating=1 %}</span>
                    <span class="content">1</span>
                </span>

                <span class="h-divider"></span>
                <span class="empty-divider"></span>
                <span class="h-divider"></span>

                <span pos="2b" class="position-ratings-item">
                    <span class="pos-label">2B</span>
                    <span class="content">{% include components/letter-rating.html rating=1 %}</span>
                    <span class="content">1</span>
                </span>
                <span class="v-divider"></span>
                <span pos="3b" class="position-ratings-item">
                    <span class="pos-label">3B</span>
                    <span class="content">{% include components/letter-rating.html rating=1 %}</span>
                    <span class="content">1</span>
                </span>

                <span class="h-divider"></span>
                <span class="empty-divider"></span>
                <span class="h-divider"></span>

                <span pos="ss" class="position-ratings-item">
                    <span class="pos-label">SS</span>
                    <span class="content">{% include components/letter-rating.html rating=1 %}</span>
                    <span class="content">1</span>
                </span>

                <span class="v-divider"></span>

                <span pos="of" class="position-ratings-item">
                    <span class="pos-label">OF</span>
                    <span class="content">{% include components/letter-rating.html rating=1 %}</span>
                    <span class="content">1</span>
                </span>
            </div>
        </div>

        <!-- Pitching Skills -->
        <div id="pitching-skills" class="info-row" style="grid-area: skills; display: grid; gap: 2px;">
            {%- for trait in site.data.abilities.traits.pitcher -%}
            <!-- test: {{ trait[0] }}, {{ trait[1]['abbr'] }} -->
            {%- endfor -%}

            {%- for trait in site.data.strings.traits.pitcher -%}
            <span class="skill-cell" rating>
                <span class="skill-desc">{{ trait }}</span>
                <span class="skill-rating"></span>
            </span>
            {%- endfor -%}

            {%- for i in (1..4) -%}
            <span></span>
            {%- endfor -%}

            {%- for i in (1..24) -%}
            <span class="skill-cell blank"><span class="skill-desc">&nbsp;</span></span>
            {%- endfor -%}
        </div>
    </div>
</div>
