<div>
    <div id="popover-tabbar">
        {%- assign tabs = site.data.strings.popover_tabs -%}
        {%- for t in tabs -%}
            <span onclick="updateSelectedPopoverTab(event.target, false)" style="background-color: {{ site.data.colors.popover_tabs[t] }};">{{ t }}</span>
        {%- endfor -%}
    </div>

    <div id="popover-body" style="border-color: {{ site.data.colors.popover_tabs['Player Abilities'] }};">
        <!-- Stays in all tabs -->
        <div id="popover-name-section">
            {%- assign positions = "SP MR" | split: ' ' -%}
            {% include components/player-name-box.html id="Test ID" fullName="Test Name" nameAbbr="Test Abbr" positions=positions %}

            <span class="blank-flag">K</span>

            <span class="jersey-number" style="grid-area: jerseynumber;">0</span>

            <!-- Is hidden in tabs unrelated to pitching -->
            <span id="popover-pitching-roles" class="info-row" style="grid-area: positions;">
                <span class="label">Aptitude</span>
                {% include components/pitching-roles.html addl_classes='content' all_positions='' %}
            </span>
            <!-- Is hidden in tabs unrelated to fielding -->
            <span id="popover-fielding-positions" class="info-row" style="grid-area: positions;">
                <span class="label">Field Positions</span>
                <span class="content">P</span>
            </span>

            <span class="star-point-count" style="grid-area: starpoints;">0</span>
            <span class="cost-span" style="grid-area: cost;">1</span>
        </div>

        <div id="popover-form-section">
            <div pfp class="info-row" style="grid-area: pic; background: white; aspect-ratio: 1;">
                <img src="">
            </div>

            <div class="info-row" style="grid-area: form;">
                <span class="label">Form</span>
                <!-- Is hidden in tabs unrelated to pitching -->
                <span id="pitching-form" class="content">Three-Quarters127</span>
                <!-- Is hidden in tabs unrelated to fielding -->
                <span id="batting-form" class="content">General 26</span>
            </div>

            <div handedness class="info-row" style="grid-area: handedness;">
                <span class="label">Dominant Hand</span>
                <span class="content">Throws R, Bats R</span>
            </div>
        </div>

        <!-- Background for button sections of popover -->
        <div style="background-color: #cad9f7; grid-area: 2 / 1 / 2 / 3; margin: -6px; border-radius: 10px;"></div>

        <!-- Is hidden in tabs unrelated to pitching -->
        <div id="popover-pitching-ratings-section" class="ratings-section">
            <span class="info-row" style="grid-area: velo;">
                <span class="label">Pitch Velocity</span>
                <span class="content pitch-speed">150</span>
            </span>

            <span control class="info-row" style="grid-area: control;">
                <span class="label">Control</span>
                <span class="content" style="text-align: end;">{% include components/letter-rating.html rating=71 %}</span>
                <span class="content" style="text-align: start;">71</span>
            </span>

            <span stamina class="info-row" style="grid-area: stamina;">
                <span class="label">Stamina</span>
                <span class="content" style="text-align: end;">{% include components/letter-rating.html rating=74 %}</span>
                <span class="content" style="text-align: start;">74</span>
            </span>

            <div class="info-row" style="grid-area: pitches; flex-direction: column; gap: 4px;">
                {% include graphics/pitching-chart.html id_prefix="popover" pitches="" handedness="" %}
                <span id="popover-signature-pitch"></span>
            </div>
        </div>
    </div>
</div>
