// General and Showing/Hiding Pages

.detail-switcher-button {
    cursor: pointer;
    height: 30px;
}

.current-detail-page {
    display: grid;
}

.hidden-detail-page {
    display: none;
}

// Shared Styling 

#detail-box .player-name-box {
    grid-area: namebox;
    min-height: 33px;
}

#detail-box .info-box {
    color: rgb(58, 114, 191);
    background-color: #f8fdfd;
    border: #dfedf1 solid 1px;
    
    padding: 2px;
    min-height: 36px;

    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#detail-box .handedness {
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: -1.5px;
    min-height: revert;
}

.detail-trj-num {
    font-weight: 500;
}

#detail-box .info-box .dash-content {
    margin-right: 12px;
    text-align: center;
    cursor: default;
}
