#popover-wrapper {
    position: absolute;
    inset: 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

#popover-wrapper>div {
    max-width: 60%;
    margin: auto;
    margin-top: 100px;
}

#popover-tabbar {
    display: flex;
    gap: 4px;
    justify-content: space-between;
}

#popover-tabbar span {
    padding: 4px;
    color: white;
    width: 100%;
    text-align: center;
}

#popover-tabbar span:not(.selected) {
    filter: brightness(60%);
}
