// -- Pitching Roles
// Only show on pitching tab (or general tabs if they're a pitcher)

// pitchers: pitching role (`positions` grid area)
// if pitcher, hide this on *not* pitching/profile tabs (show it on those tabs)
#popover-wrapper[primary-pos="pitcher"] :not(#popover-tabbar[current-tab="pitching"], #popover-tabbar[current-tab="profile"])+#popover-body #popover-pitching-roles {
    display: none;
}

// fielders: fielding positions (`positions` grid area)
// if fielder, hide this on *not* pitching tab (show it on that tab only)
#popover-wrapper[primary-pos="fielder"] :not(#popover-tabbar[current-tab="pitching"])+#popover-body #popover-pitching-roles {
    display: none;
}

// -- Fielding Positions
// Only show on fielding tabs (or general tabs if they're a fielder)

// pitchers: fielding positions (`positions` grid area)
// if pitcher, hide this on *not* batting/position tabs (show it on those tabs)
#popover-wrapper[primary-pos="pitcher"] :not(#popover-tabbar[current-tab="batting"], #popover-tabbar[current-tab="position"])+#popover-body #popover-fielding-positions {
    display: none;
}

// fielders: pitching role (`positions` grid area)
// if fielder, hide this only on pitching tab (show it on those tabs)
#popover-wrapper[primary-pos="fielder"] #popover-tabbar[current-tab="pitching"]+#popover-body #popover-fielding-positions {
    display: none;
}

// -- Pitching Form
// Only show on pitching tab (or general tabs if they're a pitcher)

// pitchers: pitching form (`form` grid area)
// if pitcher, hide this on batting (fielder abilities) tab (show it on other tabs)
#popover-wrapper[primary-pos="pitcher"] #popover-tabbar[current-tab="batting"]+#popover-body #pitching-form {
    display: none;
}

// fielders: pitching form (`form` grid area)
// if fielder, hide this on *not* pitching (pitcher abilities) tab (show it on only this tab)
#popover-wrapper[primary-pos="fielder"] :not(#popover-tabbar[current-tab="pitching"])+#popover-body #pitching-form {
    display: none;
}

// -- Batting Form
// Only show on fielding tabs (or general tabs if they're a fielder)

// pitchers: batting form (`form` grid area)
// if pitcher, hide this on *not* batting (fielder abilities) tab (show it on only this tab)
#popover-wrapper[primary-pos="pitcher"] :not(#popover-tabbar[current-tab="batting"])+#popover-body #batting-form {
    display: none;
}

// fielders: batting form (`form` grid area)
// if fielder, hide this on pitching (pitcher abilities) tab (show it on other tabs)
#popover-wrapper[primary-pos="fielder"] #popover-tabbar[current-tab="pitching"]+#popover-body #batting-form {
    display: none;
}

// -- Pitching Ratings Section (velo, control, stamina, pitching chart
// Only show on pitching tab (or general tabs if they're a pitcher)

// if pitcher, hide this on *not* pitching/profile tabs (show it on those tabs)
#popover-wrapper[primary-pos="pitcher"] :not(#popover-tabbar[current-tab="pitching"], #popover-tabbar[current-tab="profile"])+#popover-body #popover-pitching-ratings-section {
    display: none;
}

// if fielder, hide this on *not* pitching tab (show it on that tab only)
#popover-wrapper[primary-pos="fielder"] :not(#popover-tabbar[current-tab="pitching"])+#popover-body #popover-pitching-ratings-section {
    display: none;
}

// -- Batting Ratings Section
// Only show on batting tab

// if pitcher, hide this on *not* batting tab (only show it on that tab)
#popover-wrapper[primary-pos="pitcher"] :not(#popover-tabbar[current-tab="batting"])+#popover-body #popover-batting-ratings-section {
    display: none;
}

// if fielder, hide this on *not* batting/profile tabs (only show it on those tabs)
#popover-wrapper[primary-pos="fielder"] :not(#popover-tabbar[current-tab="batting"], #popover-tabbar[current-tab="profile"])+#popover-body #popover-batting-ratings-section {
    display: none;
}

// -- Positions Ratings Section
// Only show on pos assignment tab, doesn't matter the type of player

#popover-wrapper :not(#popover-tabbar[current-tab="position"])+#popover-body #popover-positions-ratings-section {
    display: none;
}


// -- Skills Grids

// Pitching skills
// Only show on pitching tab

// pitchers: pitching skill (`skills` grid area)
// if pitcher, hide this on *not* pitching tab (show it on only that tab)
#popover-wrapper[primary-pos="pitcher"] :not(#popover-tabbar[current-tab="pitching"])+#popover-body #pitching-skills {
    display: none;
}
