#counts-top-row {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;

    padding: 4px 8px;

    color: white;

    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

#player-count-total {
    font-weight: 500;
}

#all-point-counts-container {
    gap: 16px; 
    display: grid; 
    grid-template-columns: auto auto auto; 
    align-items: center;
}

.point-total-count::before {
    height: 16px;
    width: 16px;
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 2px;
    background-position: center;
    content: "";
}

#counts-bottom-row {
    display: grid;
    grid-template-columns: repeat(8, auto);
    gap: 8px;
    justify-content: space-around;
    align-items: center;

    padding: 4px 8px;

    color: #4884c8;
}

.point-count-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    min-width: 94px;
}

.position-count-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    min-width: 75px;
}

.value-for-position-square {
    margin-left: 4px;
    margin-top: 2px;

    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 400;
}
