{%- comment -%}
{ players, table_id }
{%- endcomment -%}

<div id="{{ include.table_id }}" class="player-table">
    {%- if include.players | size > 0 -%}
        {%- for player in include.players -%}
            {%- assign player_id = player.id -%}
            {%- assign player_name = player.name -%}
            {%- assign player_name_abbr = player.nameAbbr -%}
            {%- assign player_positions = player.positions -%}
            {%- assign player_cost = player.cost -%}

            {%- include components/player-table-cell.html id=player_id fullName=player_name nameAbbr=player_name_abbr positions=player_positions cost=player_cost -%}
        {%- endfor -%}
    {%- endif -%}
</div>
