.letter-rating {
    height: 24px;
    cursor: help;
}

.letter-rating .letter {
    transform: translate(0px, 4px);
}

.letter {
    cursor: help;

    stroke: white;
    stroke-width: 8px;
    paint-order: stroke fill;

    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 900;

    text-anchor: middle;
    dominant-baseline: middle;
}

.letter[rating="S"] {
    fill: url(#rating-gradient-S);
}
.letter[rating="A"] {
    fill: url(#rating-gradient-A);
}
.letter[rating="B"] {
    fill: url(#rating-gradient-B);
}
.letter[rating="C"] {
    fill: url(#rating-gradient-C);
}
.letter[rating="D"] {
    fill: url(#rating-gradient-D);
}
.letter[rating="E"] {
    fill: url(#rating-gradient-E);
}
.letter[rating="F"] {
    fill: url(#rating-gradient-F);
}
.letter[rating="G"] {
    fill: url(#rating-gradient-G);
}
