.pitching-roles {
    display: flex;
    justify-content: center;
    gap: 4px;
}

.pitching-roles .does-not-have-pitching-role {
    opacity: 0.5;
}

// Pitching Detail

#pitching-detail-roles-box .pitching-roles {
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: -1px;
}

#pitching-detail-roles-box .pitching-roles .has-pitching-role {
    font-weight: 400;
}

// Popover Pitching Aptitude

#popover-pitching-roles .pitching-roles .does-not-have-pitching-role {
    font-weight: 400;
}
