.player-name-box {
    cursor: pointer;
    
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: black;

    border: rgba(0, 0, 0, 0.3) solid 2px;
    border-radius: 6px;
}

table .player-name-box.has-player {
    cursor: pointer;
}

// Used on player-name-box
.has-player {
    color: black;
}

// Used on player-name-box
.no-player {
    color: rgba(0, 0, 0, 0.2);
    filter: brightness(110%);
}

// Used on spans covering entire cell ("player-table-cell.html")
.player-used {
    filter: brightness(75%);
}