.player-table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2px 4px;

    width: 100%;
}

.player-table tr {
    // line-height: 32px;
}

.player-table .player-cell-wrapper {
    font-size: 18px;

    display: flex;
    gap: 2px;
}

.player-cell-wrapper.hidden {
    display: none;
}